body {
    background: linear-gradient(90deg,steelblue 0%, rgb(35, 188, 219) 100%);
}

/* TODO: change this to use flexbox instead */
.title-banner h1, .title-footer {
    padding-top: 10%;
}

.title-banner h3 {
    border-bottom: 3px solid rgb(0, 0, 190);
    padding-bottom: 8px;
    display: inline-block;
    width: fit-content;
    min-width: 200px;
}

nav {
    font-size: 1.3em;
}

nav ul {
    padding-left: 0px;
}

nav ul li {
    list-style: none;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: rgb(0, 0, 190);
    font-weight: 500;
}

.account-form input, .account-form button, .search-form input, .search-form button, .serach-form select, 
.webpage-form input, .webpage-form button, .tools button, .popup button {
    max-width: 30%;
    background-color: rgba(180, 187, 208, 1);
}

.account-form button:hover, .search-form button:hover, .search-form input, .search-form button, .serach-form select, 
.webpage-form input, .webpage-form button, .tools button:hover, .popup button:hover {
    background-color: rgb(201, 214, 255);
}

.not-logged-in, .page-not-found {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.error-active {
    background-color: rgb(233, 120, 120);
}

.error-inactive {
    background-color: none;
}

#pages-table {
    background-color: lightblue;
    border-radius: 5px;
    text-align: center;
    margin: 30px 0px;
}

#pages-table thead {
    background-color: white;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

#edit-page iframe {
    width: 95vw;
    height: 95vh;
    margin: auto;
    margin-top: 50px;
}

.popup {
    position: absolute;
    margin: auto;
    top: 5em;
}

.tools {
    position: fixed;
    top: 0;
}

.tools ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 100vw;
    padding: 0px 20px;
}

.tools ul li {
    list-style: none;
    padding: 10px;
}

.tools ul li button {
    width: 75px;
    max-width: 100%;
}

.tools button, .popup button {
    border-radius: 10px;
}

@media screen and (max-width: 800px) {
    body { 
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }

    .title-banner h3 {
        display: block;
        width: 100%;
    }

    .account-form input, .account-form button, .search-form input, .search-form button, .serach-form select, 
    .webpage-form input, .webpage-form button {
        max-width: 100%;
    }
}